.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    /* height: 100dvh; */
    min-height: 500px;
    }
  .bio { 
    text-align: center;
  }
  .full-page-section {
    height: 60vh; /* Takes the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .projects-highlight {
    margin-top: 40px;
  }
  
  .projects-grid {
    display: flex;
    flex-direction: column; /* Start in a column layout */
    gap: 20px;
    padding: 2%;

  }
  
  .project-card {
    border: 1px transparent #ccc;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px; /* Ensure equal padding on mobile */
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-out;
  }
  
  .project-card.visible {
    opacity: 1;
    transform: translateY(0);
    
  }
  
  .project-card img {
    width: 60%;
    height: auto;
  }
  
  .project-card h3 {
    /* max-width: 40%; */
    /* max-width: 40%; */
    text-align: left;

    flex-direction: row-reverse;
    /* flex: 1; Allow text to grow and take available space */
}
  
  .project-card p {
    font-size: 0.9em;
    /* max-width: 40%; */
    text-align: left;

  }
  /* Mobile Responsive: Stack image and text */

/* Mobile Responsive: Stack image and text */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    width: 100%; /* Make sure the card takes full width */
    padding: 17px; /* Ensure equal padding on mobile */

  }

  .project-card img {
    max-width: 100%; /* Full width on mobile */
    width: 99%;
    
  }

  .project-card .project-details {
    max-width: 100%; /* Full width on mobile */
    text-align: left; /* Ensure text stays left-aligned */
  }
}
